<div class="container my-5">

    <!-- Characters -->
    <div class="row" data-aos="zoom-in" data-aos-once="true" data-aos-duration="2000">
        <div class="col-12">
            <h2 class="titulo colorTexto">Characters</h2>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 my-3 cardCharacter" *ngFor="let character of characters">
                <div class="card"
                    style="width: 18rem; background-color: #191919; box-shadow: -3px 1px 20px -5px rgba(48,240,86,0.7);">
                    <img src="{{character.image}}" class="card-img-top" alt="{{character.name}}">
                    <div class="card-body">
                        <a routerLink="/character/{{character.id}}" [queryParams]="{ from: 'home' }"
                            class="enlaceNombreCharacter colorTexto">
                            <h5 class="card-title">{{character.name}}</h5>
                        </a>
                        <p class="card-text colorTexto"
                            [ngClass]="{'text-success': character.status === 'Alive', 'text-danger': character.status === 'Dead', 'text-warning': character.status === 'unknown'}">
                            {{character.status}}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2 text-center">
                <a routerLink="/characters" class="btn btn-primary">View more</a>
            </div>
        </div>
    </div>

    <!-- Locations -->
    <div class="row my-5" data-aos="zoom-in" data-aos-once="true" data-aos-duration="2000">
        <div class="col-12">
            <h2 class="titulo colorTexto">Locations</h2>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 my-3 cardCharacter" *ngFor="let location of locations">
                <div class="card"
                    style="width: 18rem; background-color: #191919; box-shadow: -3px 1px 20px -5px rgba(48,240,86,0.7);">
                    <div class="card-body">
                        <a routerLink="/location/{{location.id}}" [queryParams]="{ from: 'home' }"
                            class="enlaceNombreCharacter colorTexto">
                            <h5 class="card-title">{{location.name}}</h5>
                        </a>
                        <p class="card-text colorTexto">{{location.type}}</p>
                        <p class="card-text colorTexto">{{location.dimension}}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2 text-center">
                <a routerLink="/locations" class="btn btn-primary">View more</a>
            </div>
        </div>
    </div>

    <!-- Episodes -->
    <div class="row my-5" data-aos="zoom-in" data-aos-once="true" data-aos-duration="2000">
        <div class="col-12">
            <h2 class="titulo colorTexto">Episodes</h2>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 my-3 cardCharacter" *ngFor="let episode of episodes">
                <div class="card"
                    style="width: 18rem; background-color: #191919; box-shadow: -3px 1px 20px -5px rgba(48,240,86,0.7);">
                    <div class="card-body">
                        <a routerLink="/episode/{{episode.id}}" [queryParams]="{ from: 'home' }"
                            class="enlaceNombreCharacter colorTexto">
                            <h5 class="card-title">{{episode.name}}</h5>
                        </a>
                        <p class="card-text colorTexto">{{episode.air_date}}</p>
                        <p class="card-text colorTexto">{{episode.episode}}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2 text-center">
                <a routerLink="/characters" class="btn btn-primary">View more</a>
            </div>
        </div>
    </div>
</div>